@model NoVacancy.ViewModels.LoginViewModel
@{
	ViewData["Title"] = "Login";
}

<!-- Tabs mejorados -->
<nav class="nav nav-pills nav-justified mb-4 gap-2 register-login-tabs">
	<a class="nav-link fw-bold" href="@Url.Action("Register", "Usuario")">Registrarse</a>
	<a class="nav-link active fw-bold" href="#">Iniciar sesión</a>
</nav>

<!-- Formulario -->
<div class="container my-5 form-container">
	<h4 class="fw-bold">Iniciar sesión</h4>

	@using (Html.BeginForm("Login", "Usuario", FormMethod.Post))
	{
		@Html.AntiForgeryToken()
		<div class="mb-3">
			<label class="form-label">Correo electrónico</label>
			@Html.TextBoxFor(m => m.Correo, new { @class = "form-control", type = "email", required = "required" })
			@Html.ValidationMessageFor(m => m.Correo, "", new { @class = "text-danger" })
		</div>
		<div class="mb-4">
			<label class="form-label">Contraseña</label>
			@Html.PasswordFor(m => m.Contrasenia, new { @class = "form-control", required = "required" })
			@Html.ValidationMessageFor(m => m.Contrasenia, "", new { @class = "text-danger" })
		</div>
		<div class="form-btn-center">
			<button type="submit" class="btn btn-dark w-100 py-2 fs-5 mt-3">Iniciar sesión</button>
		</div>
		@if (!string.IsNullOrEmpty(ViewBag.Error))
		{
			<div class="alert alert-danger mt-3">@ViewBag.Error</div>
		}
	}
	@section Scripts {
		@await Html.PartialAsync("_ValidationScriptsPartial")
	}
</div>
